.task-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;

    input[type=checkbox] {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    h3 {
        font-weight: 400;
        margin: 0;
    }

    p {
        font-size: 12px;
        margin: 5px 0 0;
    }
}